@model IEnumerable<WebApp.Bands>

@{
    ViewData["Title"] = "Группы";
}

<h1>Группы</h1>

<p>
    <a asp-action="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.BandId">Изменить</a> |
                    <a asp-action="Details" asp-route-id="@item.BandId">Детально</a> |
                    <a asp-action="Delete" asp-route-id="@item.BandId">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="container">
    <div id="chart1"></div>
</div>
@section scripts{
    <script type "text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            $.get('/api/BandStylesDiagram/JsonData', function (JsonData) {
                data = google.visualization.arrayToDataTable(JsonData, false);
                var option = {
                    title: "Отношения групп к стилям, в которых они выступают",
                    width: 500,
                    height: 400
                };
                chart = new google.visualization.BarChart(document.getElementById('chart1'));
                chart.draw(data, option);
            })
        }
    </script>
}
